[Unit]
Description=Enables/disables the buildin display when connecting/disconnecting an second display.

[Service]
Type=oneshot
ExecStart=/home/hcabel/.local/share/omarchy/bin/omarchy-display-switcher
